<?xml version="1.0"?>
<config>
    <modules>
        <Smart_FreeHemming>
            <version>1.0.0.0</version>
        </Smart_FreeHemming>
    </modules>
    <global>
        <helpers>
            <freehemming>
                <class>Smart_FreeHemming_Helper</class>
            </freehemming>
        </helpers>
        <models>
            <freehemming>
                <class>Smart_FreeHemming_Model</class>
            </freehemming>
        </models>
        <resources>
            <categoryattributehemming_setup>
                <setup>
                    <module>Smart_FreeHemming</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryattributehemming_setup>
            <categoryattributehemming_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryattributehemming_write>
            <categoryattributehemming_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryattributehemming_read>
        </resources>
    </global>
</config>